<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Redirecting...</title>
		<meta http-equiv="refresh" content="0;url=https://forms.gle/9j9NftfS5LjTo2Nk7" />
	</head>
	<body>
		<p>Redirecting...</p>
		<script>
			window.location.href = "https://forms.gle/9j9NftfS5LjTo2Nk7";
		</script>
	</body>
</html>
